.hero {
  position: relative;

  @include tablet {
    margin-bottom: 50px;
  }

  @include small-desktop {
    background-color: #e8e8e8;
  }

  @include mobile {
    margin-bottom: 0;
  }

  &__container {
    position: relative;
    max-width: 1034px;
    margin: 0 auto;
  }
}

.hero-slider {
  position: relative;
  z-index: 10;

  &__item {
    width: 100%;
    background-color: #e8e8e8;

    &--slide1 {
      background-image: url("../img/hero-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include small-desktop {
        background-image: none;
      }
    }

    &--slide2 {
      background-image: url("../img/hero-bg2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include small-desktop {
        background-image: none;
      }
    }

    &--slide3 {
      background-image: url("../img/hero-bg3.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include small-desktop {
        background-image: none;
      }
    }
  }

  &__content {
    position: relative;
    max-width: 1034px;
    margin: 189px auto 0;

    &::before {
      display: none;
      content: "";
      position: absolute;
      background: url("../img/fig2.svg") center center/cover no-repeat;
      width: 560px;
      height: 500px;
      top: -159px;
      left: 50%;
      transform: translateX(-50%);

      @include mobile {
        display: block;
        width: 100%;
      }
    }

    @include mobile {
      margin: 151px auto 0;
    }
  }

  &__wrapper {
    width: 1030px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include small-desktop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    max-width: 515px;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-transform: uppercase;
    color: var(--grey-color);
    z-index: 2;

    @include small-desktop {
      order: 2;
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 25px;
      line-height: 25px;
      width: 280px;
      margin-bottom: 0;
    }
  }

  &__circle {
    position: absolute;
    top: -123px;
    right: -249px;
    // top: 0;
    // right: 0;

    @media (max-width: 1187px) {
      right: 0;
    }

    @include mobile {
      display: none;
      width: 540px;
      top: 90px;
    }
  }

  &__img {
    position: relative;
    max-width: 505px;
    z-index: 5;

    @include small-desktop {
      order: 1;
      margin-bottom: 20px;
    }

    @include mobile {
      width: 258px;
    }

    &--slide1 {
      margin-top: -40px;
      right: -30px;
    }

    &--slide2 {
      right: 20px;

      @include tablet {
        right: 0;
      }
    }

    &--slide3 {
      right: 20px;

      @include tablet {
        right: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    margin-bottom: 50px;
    background: #00a386;
    box-shadow: 0px 10px 50px rgba(0, 221, 185, 0.25);
    border: none;

    @include small-desktop {
      margin-bottom: 50px;
    }

    @include mobile {
      width: 100%;
    }

    &:hover {
      background: var(--darkBlue-color);
    }
  }
}

.hero-pag {
  position: relative;
  top: -191px;
  left: 2px;
  width: 100%;

  @include small-desktop {
    top: 0;
    left: 0;
    padding-bottom: 25px;
  }

  &::after {
    content: "";
    display: block;
    background: #e8e8e8;
    position: absolute;
    bottom: -152px;
    right: -59px;
    width: 629.32px;
    height: 649.32px;
    border-radius: 50%;

    @include small-desktop {
      display: none;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    @include small-desktop {
      width: 270px;
      margin: 0 auto;
    }

    @include mobile {
      @include flex-all-center;

      flex-direction: column;
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 270px;
  }

  &__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--grey-color);
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;

    .swiper-pagination-bullet {
      width: 51px;
      height: 4px;
      background: var(--light-color);
      border-radius: 100px;
      opacity: 1;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: var(--darkBlue-color);
    }
  }
}
