<section id="about" class="about block">
  <div class="container about__container">
    <img class="block__bg" src="img/about-bg.png" alt="" />
    <div class="about__wrapper block__wrapper">
      <h2 class="about__title title">О нас</h2>
      <div class="about__content block__content">
        <div class="block__text">
          <p class="block__descr">
            ООО «СитиПро» специализируется на предоставлении своим клиентам
            комплексных решений в области покраски и реставрации окон, дверей,
            витрин, лестниц и т.д. на частных коммерческих и строительных
            объектах.
          </p>
          <div class="about__hidden-content">
            <p class="block__descr">
              Наши специалисты имеют опыт работы в окраске более 10 лет,
              регулярно проходят обучение и владеют всеми современными
              технологиями ремонта и окраски изделий;
            </p>
            <p class="block__descr">
              Мы предлагаем нашим клиентам высококачественные услуги по
              следующим направлениям:
            </p>
            <ul class="block__list">
              <li class="block__list-item">
                Подбор цвета по образцу или каталогу в соответствии с
                пожеланиями Заказчика;
              </li>
              <li class="block__list-item">
                Услуги по монохромной и многоцветной покраске внешних и
                внутренних поверхностей современными двухкомпонентными
                полиуретановыми эмалями на объекте без демонтажа;
              </li>
              <li class="block__list-item">
                Рихтовочные работы и услуги по восстановлению геометрии изделий.
              </li>
            </ul>
          </div>
        </div>
        <button class="btn-reset about__open-btn">
          <img
            src="img/arrow-open.svg"
            alt="open"
            class="portfolio-slider__buttom-img"
          />
        </button>
        <div class="about__img block__img">
          <img src="../img/about-img.png" alt="Покраска" />
        </div>
      </div>
    </div>
  </div>
</section>
