<section class="about block">
  <div class="container block__container">
    <img class="block__bg" src="img/about-bg.png" alt="">
    <div class="about__wrapper block__wrapper">
      <h2 class="about__title title">О нас</h2>
      <div class="about__content block__content">
        <div class="block__text">
          <h3 class="block__subtitle">
            Сплочённость команды профессионалов позволила расправить крылья
          </h3>
          <p class="block__descr">
            Противоположная точка зрения подразумевает, что интерактивные
            прототипы, инициированные исключительно синтетически, превращены в
            посмешище, хотя само их существование приносит несомненную пользу
            обществу.
          </p>
          <p class="block__descr">
            В частности, перспективное планирование предопределяет высокую
            востребованность инновационных методов управления процессами.
          </p>
          <p class="block__descr">
            А ещё ключевые особенности структуры проекта представляют собой не
            что иное, как квинтэссенцию победы маркетинга над разумом и должны
            быть подвергнуты целой серии независимых исследований.
          </p>
        </div>
        <div class="about__img block__img">
          <img src="../img/about-img.png" alt="Покраска" />
        </div>
      </div>
    </div>
  </div>
</section>
