<section class="companies">
  <div class="container">
    <h2 class="title companies__title">Нам доверяют</h2>
    <div class="companies__wrapper">
      <div class="companies__item">
        <img src="img/comp1.svg" alt="company" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="img/comp2.svg" alt="company" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="img/comp3.svg" alt="company" class="companies__logo">
      </div>
    </div>
  </div>
</section>
