<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <address class="contacts__block">
        <h2 class="title contacts__title">Контакты</h2>
        <div class="contacts__descr">
          <div class="contacts__item contact">
            <div class="contact__img">
              <img src="img/marker.svg" alt="contact" />
            </div>
            <div class="contact__descr">
              <span class="contact__name">г. Москва</span>
              <span class="contact__text">ул. Боровая д.18, стр.1, оф.313</span>
            </div>
          </div>
          <div class="contacts__item contact">
            <div class="contact__img">
              <img src="img/phone-icon.svg" alt="contact" />
            </div>
            <div class="contact__descr">
              <a href="tel: +74951975797" class="contact__name">+7 495 197 57 97</a>
              <span data-modal="open-modal" class="contact__text contact__text--underline"
                >заказать звонок</span
              >
            </div>
          </div>
          <div class="contacts__item contact">
            <div class="contact__img">
              <img src="img/time.svg" alt="contact" />
            </div>
            <div class="contact__descr">
              <span class="contact__name">Пн-Вс 9:00-20:00</span>
              <span class="contact__text">без выходных</span>
            </div>
          </div>
        </div>
        <div class="contacts__social social">
          <a href="#" class="social__link"><img src="img/vk.svg" alt="vk" /></a>
          <a href="#" class="social__link"><img src="img/tg.svg" alt="vk" /></a>
          <a href="#" class="social__link"
            ><img src="img/contact3.svg" alt="vk"
          /></a>
          <a href="#" class="social__link"
            ><img src="img/contact4.svg" alt="vk"
          /></a>
        </div>
        <a class="contacts__polit" href="#">Политика конфиденциальности</a>
      </address>
      <div class="contacts__map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac415d82ac4619280943a4d765f47b79f7f48a3fc4ccc59fa06d94f5f133755bd&amp;width=730&amp;height=370&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </div>
  </div>
</section>
