<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrapper">
      <div class="footer__info info">
        <div class="info__logo">
          <img src="img/logo.svg" alt="logo" />
        </div>
        <p class="info__descr">
          ООО «СитиПро» <br/>
          ИНН 9722045166
        </p>
        <p class="info__descr">
          Адрес: 111020, г. Москва, ул. Боровая,
          дом 18, стр.1, оф. 313 <br/>
          Телефон 8 (495)197-57-97
        </p>
      </div>
      <div class="footer__nav">
        <nav class="navigation" aria-label="Навигация">
          <ul class="navigation__list list-reset">
            <li class="navigation__item">
              <a href="#" class="navigation__link">О нас</a>
            </li>

            <li class="navigation__item">
              <a href="#" class="navigation__link">Виды услуг</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Портфолио</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Оставьте заявку</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="footer__polit">Политика конфиденциальности</a>
      </div>
      <div class="footer__address">
        <address class="contacts__block">
          <div class="contacts__descr">
            <div class="contacts__item contact">
              <div class="contact__img">
                <img src="img/marker.svg" alt="contact" />
              </div>
              <div class="contact__descr">
                <span class="contact__name">г. Москва</span>
                <span class="contact__text"
                  >ул. Боровая д.18, стр.1, оф.313</span
                >
              </div>
            </div>
            <a href="tel: +74951975797" class="contacts__item contact">
              <div class="contact__img">
                <img src="img/phone-icon.svg" alt="contact" />
              </div>
              <div class="contact__descr">
                <span class="contact__name">+7 495 197 57 97</span>
                <span class="contact__text contact__text--underline"
                  >заказать звонок</span
                >
              </div>
            </a>
            <div class="contacts__item contact">
              <div class="contact__img">
                <img src="img/time.svg" alt="contact" />
              </div>
              <div class="contact__descr">
                <span class="contact__name">Пн-Вс 9:00-20:00</span>
                <span class="contact__text">без выходных</span>
              </div>
            </div>
          </div>
          <div class="contacts__social social">
            <a href="#" class="social__link"
              ><img src="img/vk.svg" alt="vk"
            /></a>
            <a href="#" class="social__link"
              ><img src="img/tg.svg" alt="vk"
            /></a>
            <a href="#" class="social__link"
              ><img src="img/contact3.svg" alt="vk"
            /></a>
            <a href="#" class="social__link"
              ><img src="img/contact4.svg" alt="vk"
            /></a>
          </div>
        </address>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="footer__name">СитиПро 2023</span>
      <a href="#" class="footer__develop">
        <p class="footer__develop-name">Разработано</p>
        <img src="img/maxcom.svg" alt="maxcom" class="footer__develop-logo" />
      </a>
    </div>
    <a href="#header" class="footer__arrow">
      <img src="img/arrow-up.svg" alt="arrow">
    </a>
  </div>
</footer>
