<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <img src="../img/logo.svg" alt="Sity Pro" />
      </div>
      <nav class="header__nav navigation" aria-label="Навигация">
        <ul class="navigation__list list-reset">
          <li class="navigation__item">
            <a href="#" class="navigation__link">О нас</a>
          </li>

          <li class="navigation__item">
            <a href="#" class="navigation__link">Виды услуг</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Портфолио</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Оставьте заявку</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__contact">
        <a href="tel:+79000000000" class="contact-link contact-link--phone">
          <span class="contact-link__caption">+7<nbsp /> 900 000 00 00</span>
        </a>
      </div>
    </div>
  </div>
</header>
