<div class="hero">
  @include('header.html')
  <div class="swiper hero__slider hero-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slider__item hero-slider__item--slide1">
        <div class="hero-slider__content">
          <img
            class="hero-slider__circle"
            src="../img/lines.svg"
            alt="circle"
          />
          <div class="hero-slider__wrapper">
            <h2 class="hero-slider__title">
              Реставрация лакокрасочного покрытия
            </h2>
            <div class="hero-slider__img hero-slider__img--slide1">
              <img src="../img/hero-man.png" alt="окраска" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slider__item hero-slider__item--slide2">
        <div class="hero-slider__content">
          <img
            class="hero-slider__circle"
            src="../img/lines.svg"
            alt="circle"
          />
          <div class="hero-slider__wrapper">
            <h2 class="hero-slider__title">
              Профессиональная окраска интерьера
            </h2>
            <div class="hero-slider__img hero-slider__img--slide2">
              <img src="../img/hero-man2.png" alt="окраска" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slider__item hero-slider__item--slide3">
        <div class="hero-slider__content">
          <img
            class="hero-slider__circle"
            src="../img/lines.svg"
            alt="circle"
          />
          <div class="hero-slider__wrapper">
            <h2 class="hero-slider__title">
              Профессиональная окраска экстерьера
            </h2>
            <div class="hero-slider__img hero-slider__img--slide3">
              <img src="../img/hero-man3.png" alt="окраска" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container hero__container">
      <div class="hero-slider__pagination hero-pag">
        <button class="button btn hero-slider__btn">Получить консультацию</button>
        <div class="hero-pag__wrapper">
          <span class="hero-pag__number">1</span>
          <div class="hero-pag__pagination">
            <div class="swiper-pagination-bullet"></div>
            <div class="swiper-pagination-bullet"></div>
            <div class="swiper-pagination-bullet"></div>
          </div>
          <span class="hero-pag__number">3</span>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__circle"></div>
</div>
