<div class="graph-modal modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="first"
  >
    <div class="modal__wrapper">
      <div class="modal__header">
        <div class="modal__logo">
          <img src="../img/logo.svg" alt="Sity Pro" />
        </div>

        <button
          class="btn-reset graph-modal__close js-modal-close"
          aria-label="Закрыть модальное окно"
        ></button>
      </div>
    </div>

    <div class="graph-modal__content content">
      <div class="content__descr">
        <h3 class="content__title">Оставьте заявку</h3>
        <span class="content__text"
          >И наш менеджер свяжется с вами в ближайшее время для уточнения
          деталей</span
        >
      </div>
      <div class="content__form">
        <form class="form">
          <input placeholder="Иван Иванов" class="form__input" />
          <input
            type="tel"
            placeholder="+7 999 999 99 99"
            class="form__input"
          />
          <textarea class="form__textarea">Текстовое сообщение </textarea>
          <div class="form-section__check form__check">
            <label class="form__label">
              <input class="form__input-check" type="checkbox" name="agree" />
              <div class="form__custom-check">
                <img class="form__custom-img" src="img/check.svg" alt="check" />
              </div>
              <span class="form__input-text"
                >Нажимая кнопку «ОТПРАВИТЬ» вы соглашаетесь на обработку ваших
                данных</span
              >
            </label>
          </div>
          <button class="btn form__btn" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
