<section id="portfolio" class="portfolio block">
    <div class="container block__container">
      <img class="block__bg portfolio__bg" src="img/portfolio-bg.png" alt="background" />
      <div class="portfolio__wrapper block__wrapper">
        <h2 class="portfolio__title title">ПОРТФОЛИО работ</h2>
        <div class="swiper portfolio__slider portfolio-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    Kazakov Grand Loft
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    Kazakov Grand Loft — новый проект в исторической части
                    Москвы, дом для тех, кто не идет на компромиссы. Все, на что
                    город будет равняться в обозримой перспективе, находится
                    здесь. И в центре этого мира вы. Индивидуальность даже в
                    мелочах и комфорт, возведенный в абсолют — чем не рецепт
                    совершенства?
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Проект прогрессивной авторской архитектуры, умного
                    наполнения и персональных панорамных видов на город. Здесь
                    созданы условия премиального сервиса, чтобы вы не
                    отвлекались на бытовые мелочи, а просто наслаждались жизнью.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img1.png" alt="portfolio" />
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    Новое здание Третьяковской галереи
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    Третьяковская галерея на Кадашёвской набережной — строящийся
                    новый корпус Третьяковской галереи, расположенный на
                    Кадашёвской набережной, 10 — рядом с историческими зданиями
                    музея в Лаврушинском переулке.
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Новый музейный корпус спроектирован «Моспроектом-4» и
                    дополнен конкурсным проектом фасадов от архитектурного бюро
                    SPEECH.
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Строительство началось летом 2014 года, завершение работ
                    запланировано на 2024 год.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img2.png" alt="portfolio" />
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    ТРЦ Павелецкая Плаза
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    ТРЦ «Павелецкая Плаза» расположится в историческом центре
                    Москвы, на первой линии Садового кольца, на площади перед
                    Павелецким вокзалом. Торговый центр будет соединен подземным
                    переходом через Садовое кольцо с радиальной станцией метро
                    «Павелецкая», а также одноименным ТПУ, который свяжет
                    транспортные артерии города с аэропортом «Домодедово».
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Ежедневный пассажиропоток через станции метро и наземный
                    транспорт составляет около 300 тыс. человек. В зоне охвата
                    торгового центра живут и работают более 3 млн человек.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img3.png" alt="portfolio" />
              </div>
            </div>
          </div>
          <div class="portfolio-slider__pagination">
            <div class="portfolio-slider__prev portfolio-slider__arrow">
              <img src="img/arrow-left.svg" alt="arrow" />
            </div>
            <div class="swiper-pagination portfolio-slider__pag"></div>
            <div class="portfolio-slider__next portfolio-slider__arrow">
              <img src="img/arrow-right.svg" alt="arrow" />
            </div>
          </div>
        </div>
        <div class="swiper portfolio__slider-tablet portfolio-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    Kazakov Grand Loft
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    Kazakov Grand Loft — новый проект в исторической части
                    Москвы, дом для тех, кто не идет на компромиссы. Все, на что
                    город будет равняться в обозримой перспективе, находится
                    здесь. И в центре этого мира вы. Индивидуальность даже в
                    мелочах и комфорт, возведенный в абсолют — чем не рецепт
                    совершенства?
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Проект прогрессивной авторской архитектуры, умного
                    наполнения и персональных панорамных видов на город. Здесь
                    созданы условия премиального сервиса, чтобы вы не
                    отвлекались на бытовые мелочи, а просто наслаждались жизнью.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img1.png" alt="portfolio" />
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    Новое здание Третьяковской галереи
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    Третьяковская галерея на Кадашёвской набережной — строящийся
                    новый корпус Третьяковской галереи, расположенный на
                    Кадашёвской набережной, 10 — рядом с историческими зданиями
                    музея в Лаврушинском переулке.
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Новый музейный корпус спроектирован «Моспроектом-4» и
                    дополнен конкурсным проектом фасадов от архитектурного бюро
                    SPEECH.
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Строительство началось летом 2014 года, завершение работ
                    запланировано на 2024 год.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img2.png" alt="portfolio" />
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__item">
              <div class="portfolio-slider__content block__content">
                <div class="portfolio-slider__text block__text">
                  <h3 class="portfolio-slider__subtitle block__subtitle">
                    ТРЦ Павелецкая Плаза
                  </h3>
                  <p class="portfolio-slider__descr block__descr">
                    ТРЦ «Павелецкая Плаза» расположится в историческом центре
                    Москвы, на первой линии Садового кольца, на площади перед
                    Павелецким вокзалом. Торговый центр будет соединен подземным
                    переходом через Садовое кольцо с радиальной станцией метро
                    «Павелецкая», а также одноименным ТПУ, который свяжет
                    транспортные артерии города с аэропортом «Домодедово».
                  </p>
                  <p class="portfolio-slider__descr block__descr">
                    Ежедневный пассажиропоток через станции метро и наземный
                    транспорт составляет около 300 тыс. человек. В зоне охвата
                    торгового центра живут и работают более 3 млн человек.
                  </p>
                </div>
              </div>
              <div class="portfolio-slider__img block__img">
                <img src="img/portfolio-img3.png" alt="portfolio" />
              </div>
            </div>
          </div>
          <div class="portfolio-slider__pag-min">
            <div class="portfolio-slider__pag-wrapper">
              <span class="hero-pag__number">01</span>
              <div class="hero-pag__pagination portfolio-slider__pag-tablet">
                <div class="swiper-pagination-bullet"></div>
                <div class="swiper-pagination-bullet"></div>
                <div class="swiper-pagination-bullet"></div>
              </div>
              <span class="hero-pag__number">03</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
