<section class="services">
  <div class="container">
    <h2 class="services__title title">Виды услуг</h2>
    <ul class="services__wrapper list-reset">
      <li class="services__item service">
        <img class="service__img" src="img/service-img1.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon1.svg" alt="service1" />
        </div>
        <h3 class="service__title">Реставрация лакокрасочного покрытия</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img2.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon2.svg" alt="service1" />
        </div>
        <h3 class="service__title">Профессиональная окраска на объекте</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img3.png" alt="" />

        <div class="service__icon service__icon--three">
          <img src="img/service-icon3.svg" alt="service1" />
        </div>
        <h3 class="service__title">Профессиональная окраска экстерьера</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img4.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon4.svg" alt="service1" />
        </div>
        <h3 class="service__title">
          Профессиональная окраска ограждений и витражей
        </h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
    </ul>
  </div>
</section>
