<section id="services" class="services">
  <div class="container">
    <h2 class="services__title title">Виды услуг</h2>
    <ul class="services__wrapper list-reset">
      <li class="services__item service">
        <img class="service__img" src="img/service-img1.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon1.svg" alt="service1" />
        </div>
        <h3 class="service__title">Реставрация лакокрасочного покрытия</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img2.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon2.svg" alt="service1" />
        </div>
        <h3 class="service__title">Профессиональная окраска на объекте</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img3.png" alt="" />

        <div class="service__icon service__icon--three">
          <img src="img/service-icon3.svg" alt="service1" />
        </div>
        <h3 class="service__title">Профессиональная окраска экстерьера</h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
      <li class="services__item service">
        <img class="service__img" src="img/service-img4.png" alt="" />

        <div class="service__icon">
          <img src="img/service-icon4.svg" alt="service1" />
        </div>
        <h3 class="service__title">
          Профессиональная окраска ограждений и витражей
        </h3>
        <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

        <button class="service__hidden">
          <span class="service__consult">Получить консультацию</span>
        </button>
      </li>
    </ul>

    <div class="swiper services__slider services-slider">
      <ul
        class="list-reset swiper-wrapper services__wrapper services-slider__wrapper"
      >
        <li class="swiper-slide services__item service">
          <img class="service__img" src="img/service-img1.png" alt="" />

          <div class="service__icon">
            <img src="img/service-icon1.svg" alt="service1" />
          </div>
          <h3 class="service__title">Реставрация лакокрасочного покрытия</h3>
          <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

          <button class="service__hidden">
            <span class="service__consult">Получить консультацию</span>
          </button>
        </li>
        <li class="swiper-slide services__item service">
          <img class="service__img" src="img/service-img2.png" alt="" />

          <div class="service__icon">
            <img src="img/service-icon2.svg" alt="service1" />
          </div>
          <h3 class="service__title">Профессиональная окраска на объекте</h3>
          <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

          <button class="service__hidden">
            <span class="service__consult">Получить консультацию</span>
          </button>
        </li>
        <li class="swiper-slide services__item service">
          <img class="service__img" src="img/service-img3.png" alt="" />

          <div class="service__icon service__icon--three">
            <img src="img/service-icon3.svg" alt="service1" />
          </div>
          <h3 class="service__title">Профессиональная окраска экстерьера</h3>
          <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

          <button class="service__hidden">
            <span class="service__consult">Получить консультацию</span>
          </button>
        </li>
        <li class="swiper-slide services__item service">
          <img class="service__img" src="img/service-img4.png" alt="" />

          <div class="service__icon">
            <img src="img/service-icon4.svg" alt="service1" />
          </div>
          <h3 class="service__title">
            Профессиональная окраска ограждений и витражей
          </h3>
          <img class="service__arrow" src="img/service-arrow.svg" alt="arrow" />

          <button class="service__hidden">
            <span class="service__consult">Получить консультацию</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="services__pagination">
      <div class="services__pag-wrapper">
        <span class="hero-pag__number">01</span>
        <div class="hero-pag__pagination services__pag">
          <div class="swiper-pagination-bullet"></div>
          <div class="swiper-pagination-bullet"></div>
          <div class="swiper-pagination-bullet"></div>
          <div class="swiper-pagination-bullet"></div>
        </div>
        <span class="hero-pag__number">04</span>
      </div>
    </div>
  </div>
</section>
