:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #272727;
  --darkGreen-color: #73A56C;
  --darkBlue-color: #0041A4;
  --grey-color: #465067;
  --lightGrey-color: #E8E8E8;
}
